* {
    list-style: none;
    padding: 0;
    margin: 0;
}

*:not(input):not(textarea) {
    -webkit-overflow-scrolling: touch;
    user-select: none;
}

html {
    margin-top: 0 !important;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    -webkit-text-size-adjust: none !important;
    -webkit-overflow-scrolling: touch;
    background-color: rgb(250, 251, 253);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

button {
    border: none;
    outline: none;
}

input {
    outline: none;
}

html {
    font-size: calc(100vw / 7.5);
    max-width: 750px;
    margin: auto;
}

@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}

body {
    font-size: 0.28rem;
}
